@model Dumpling_Food.Models.User.LoginModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/user_pages.css" />
<h1 class="header1">Register in our restaurant today</h1>
<div class="container">
    <hr />
    <div class="row"></div>@*remove this*@
    <div class="row">
        <div class="col"></div> @*remove this*@
        <div class="col">
            <div class="login-center">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="custName" class="control-label">Enter Your Name Here</label>
                        <input asp-for="custName" class="form-control" />
                        <span asp-validation-for="custName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="custId" class="control-label">Enter Your customer ID</label>
                        <input asp-for="custId" class="form-control" />
                        <span asp-validation-for="custId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="userName" class="control-label">Enter Username Here</label>
                        <input asp-for="userName" class="form-control" />
                        <span asp-validation-for="userName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password" class="control-label">Enter Password Here</label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <input asp-action="Index" type="submit" value="Cancel" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div> @*remove this*@

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
