<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="s.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



<!-->

    <div class="menucontainer">
        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2> Empanadas</h2>
                    <p>
                        These savoury pouches of fried dough can be found all over South America. There are tons of varieties and stuffings – from tuna fish to chicken and corn.
                        The flour or corn-based dough is then folded over this filling and cooked by frying or baking.
                        <br /> ⭐⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to card </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                <div class="react"> <h3>Empanada </h3> <br /><h4>Rs.120.00</h4> </div>
                <br />  <div class="menuimg"> <img src="~/lib/Images/empanada.jpg" alt="" height="110" width="140" style="border-color: black; border-radius: 8px; border-style: solid" ></div>

            </div>
        </div>




        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2>Har Gow</h2>
                    <p>
                        A traditional Cantonese dumpling, ha gow is also served in dim sum. Sometimes called a “shrimp bonnet,”
                        translucent wrappers of these shrimp dumplings are filled with shrimp chunks, scallions, and grated ginger.
                        <br /> ⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to cart </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                <div class="react"> <h3>Har gow </h3><br /><h4>Rs.120.00</h4> </div>
                <img src="~/lib/Images/Hargow.jpg" alt="" height="110" width="140"  style="border-color: black; border-radius: 8px; border-style: solid">
            </div>
        </div>

        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2> Empanadas</h2>
                    <p>
                        These savoury pouches of fried dough can be found all over South America. There are tons of varieties and stuffings – from tuna fish to chicken and corn.
                        The flour or corn-based dough is then folded over this filling and cooked by frying or baking.
                        <br /> ⭐⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to card </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                <div class="react"> <h3>Empanada </h3><br /><h4>Rs.120.00</h4> </div>
                <img src="~/lib/Images/empanada.jpg" alt="" height="110" width="140"  style="border-color: black; border-radius: 8px; border-style: solid">
            </div>
        </div>




        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2>Har Gow</h2>
                    <p>
                        A traditional Cantonese dumpling, ha gow is also served in dim sum. Sometimes called a “shrimp bonnet,”
                        translucent wrappers of these shrimp dumplings are filled with shrimp chunks, scallions, and grated ginger.
                        <br /> ⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to cart </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                <div class="react"> <h3>Har Gow </h3><br /> <h4>Rs.120.00</h4></div>
                <img src="~/lib/Images/Hargow.jpg" alt="" height="110" width="140"  style="border-color: black; border-radius: 8px; border-style: solid">
            </div>
        </div>

        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2> Empanadas</h2>
                    <p>
                        These savoury pouches of fried dough can be found all over South America. There are tons of varieties and stuffings – from tuna fish to chicken and corn.
                        The flour or corn-based dough is then folded over this filling and cooked by frying or baking.
                        <br /> ⭐⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to card </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                 <div class="react"> <h3>Empanada </h3><br /><h4>Rs.120.00</h4> </div>
                <img src="~/lib/Images/empanada.jpg" alt="" height="110" width="140"  style="border-color: black; border-radius: 8px; border-style:solid">
            </div>
        </div>




        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h2>Har Gow</h2>
                    <p>
                        A traditional Cantonese dumpling, ha gow is also served in dim sum. Sometimes called a “shrimp bonnet,”
                        translucent wrappers of these shrimp dumplings are filled with shrimp chunks, scallions, and grated ginger.
                        <br /> ⭐⭐⭐⭐
                    </p>
                    <a href="#">Add to cart </a>
                    <a href="#"> ❤️</a>
                </div>
            </div>
            <div class="face face2">
                <div class="react"> <h3>Har Gow </h3><br /> <h4>Rs.120.00</h4></div>
                <img src="~/lib/Images/Hargow.jpg" alt="" height="110" width="140"  style="border-color:black; border-radius:8px;border-style:solid" >
            </div>
        </div>





    </div>


    -->






</body>
</html>