@{
    ViewData["Title"] = "Recent orders Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>


    <div class="menucontainer">
        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h3> 20.05.2021 08:00</h3>
                    <ul>
                        <li> Noodle soup<span> 1</span></li>
                        <li> Fried Egg<span> 2 </span></li>



                    </ul>
                    <a href="#"> Rs250.00</a> <br>
                    <button class="modal-toggle" id="modal-toggle">View Receipt  </button>

                </div>
            </div>
            <div class="face face2">

                <div class="menuimg"> <h2> 1 </h2></div>

            </div>



            <div class="popup center">
                <div class="picon">
                    <p> #odr2415</p>
               <p> ThankYou for ordering </p>
                 
                </div>
                <div class="title">
                    20.05.2021 08:00
                </div>
                <div class="description">
                    <ul>
                        <li> Noodle soup<span> 1</span></li>
                        <li> Fried Egg<span> 2 </span></li>
                        <li> Total <span> Rs 250.00</span></li>


                    </ul>
                </div>
                <div class="dismiss-btn">
                    <button id="dismiss-popup-btn">
                        Dismiss
                    </button>
                  
                </div>
            </div>

            <script>
                document.getElementById("modal-toggle").addEventListener("click", function () {
                    document.getElementsByClassName("popup")[0].classList.add("active");
                });

                document.getElementById("dismiss-popup-btn").addEventListener("click", function () {
                    document.getElementsByClassName("popup")[0].classList.remove("active");
                });
            </script>

        </div>











        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h3>18.05.2020 17:02</h3>
                    <ul>
                        <li> Streamed jasmine rice<span> 2 </span></li>
                        <li>Fried egg<span> 4 </span></li>
                        <li> Noodle soup<span> 1 </span></li>


                    </ul>
                    <a href="#"> Rs120.00</a> <br>
                    <button class="modal-toggle" id="modal-toggle">View Receipt  </button>


                </div>
            </div>
            <div class="face face2">

                <div class="menuimg"> <h2> 2 </h2></div>
            </div>
        </div>



        <div class="menucard">
            <div class="face face1">
                <div class="menucontent">
                    <h3>18.05.2020 17:00</h3>
                    <ul>
                        <li> Noodle soup<span> 1</span></li>
                        <li> vegetable & Noodle soup<span> 2 </span></li>
                        <li> Spicy brine pork ear<span> 1 </span></li>


                    </ul>
                    <a href="#"> Rs120.00</a> <br>
                    <button class="modal-toggle" id="modal-toggle">View Receipt  </button>


                </div>
            </div>
            <div class="face face2">

                <div class="menuimg"> <h2> 3 </h2></div>
            </div>
        </div>




    </div>









</body>
</html>









