@{
    ViewData["Title"] = "Recommended for You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>

    <div class="rrow">
        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/buuz.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Buuz</h1>

                <p>
                    Occasionally, herbs or other seasoning are added and some variations might also include cabbage and mashed potatoes.
                    This Central Asian dish is eaten during the Mongolian Lunar New Year .
                </p>
                <ul>
                    <li>RS190.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>
                <p><button>Add to Card</button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/coxinha.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Coxinhas </h1>

                <p>Found in Brazil. Made of thick dough stuff with shredded chicken. It is then moulded into a shape meant to resemble a chicken legand cooked by deep frying. It can be served with any kind of dipping sauce. </p>
                <ul>
                    <li>RS120.00</li>
                    <li>⭐⭐⭐⭐ </li>
                </ul>


                <p><button>Add to cart </button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/buuz.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Buuz</h1>

                <p>
                    Occasionally, herbs or other seasoning are added and some variations might also include cabbage and mashed potatoes.
                    This Central Asian dish is eaten during the Mongolian Lunar New Year .
                </p>
                <ul>
                    <li>RS130.00</li>
                    <li>⭐⭐⭐ </li>
                </ul>
                <p><button>Add to Card</button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/coxinha.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Coxinhas </h1>

                <p>Found in Brazil. Made of thick dough stuff with shredded chicken. It is then moulded into a shape meant to resemble a chicken legand cooked by deep frying. It can be served with any kind of dipping sauce. </p>
                <ul>
                    <li>RS180.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>


                <p><button>Add to cart </button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/buuz.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Buuz</h1>

                <p>
                    Occasionally, herbs or other seasoning are added and some variations might also include cabbage and mashed potatoes.
                    This Central Asian dish is eaten during the Mongolian Lunar New Year .
                </p>
                <ul>
                    <li>RS190.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>
                <p><button>Add to Card</button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/coxinha.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Coxinhas </h1>

                <p>Found in Brazil. Made of thick dough stuff with shredded chicken. It is then moulded into a shape meant to resemble a chicken legand cooked by deep frying. It can be served with any kind of dipping sauce. </p>
                <ul>
                    <li>RS190.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>


                <p><button>Add to cart </button></p>
            </div>
        </div>



    </div>
</body>
</html>