@{
    ViewData["Title"] = "Recommended for You";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h2> Recommended for you </h2>
    <div class="rrow">
        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/Cabagge-pork.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Pork & cabbage</h1>

                <p>
              Hherbs or other seasoning are added and some variations migh include cabbage and mashed potatoes.

                </p>
                <ul>
                    <li>RS190.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>
                <p><button class="reo">Add to Card</button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/friedegg.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Fried Egg </h1>

                <p>Found in Brazil. Made of thick dough stuff with shredded chicken.  </p>
                <ul>
                    <li>RS120.00</li>
                    <li>⭐⭐⭐⭐ </li>
                </ul>


                <p><button class="reo">Add to cart </button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/buuz.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Buuz</h1>

                <p>
                 Herbs or other seasoning are added and some variations might also include cabbage and mashed potatoes.

                </p>
                <ul>
                    <li>RS130.00</li>
                    <li>⭐⭐⭐ </li>
                </ul>
                <p><button  class="reo" >Add to Card</button></p>
            </div>
        </div>

        <div class="rcolumn">
            <div class="rcard">
                <img src="~/lib/Images/chicken&mushroom.jpg" style="width:150px;height:auto;padding-top:10px">
                <h1>Chicken & mushroom </h1>

                <p>Found in Brazil. Made of thick dough stuff with shredded chicken.  </p>
                <ul>
                    <li>RS180.00</li>
                    <li>⭐⭐⭐⭐⭐ </li>
                </ul>


                <p><button  class="reo">Add to cart </button></p>
            </div>
        </div>




    

    </div>
</body>
</html>