@{
    ViewData["Title"] = "Manager Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}


<div class="text-center">
    <h1 class="display-4">Welcome to Manager Dashboard</h1>


    <div class="mdccontainer">

        <div class="dashboardcard">
            <div class="mdcface face1">
                <div class="mdccontent">
                    <span class="stars"></span>
                    <h2 class="crdorders">Orders</h2>
                    <p class="crdorders">Number : 285</p>
                </div>
            </div>
            <div class="mdcface face2">
                <h2>Orders</h2>
            </div>
        </div>

        <div class="dashboardcard">
            <div class="mdcface face1">
                <div class="mdccontent">
                    <span class="stars"></span>
                    <h2 class="crdmenus">Menu</h2>
                    <p class="crdmenus">Number of menus: 5</p>
                </div>
            </div>
            <div class="mdcface face2">
                <h2>Menus</h2>
            </div>
        </div>

        <div class="dashboardcard">
            <div class="mdcface face1">
                <div class="mdccontent">
                    
                    <h2 class="crdcustomers">Customers</h2>
                    <p class="crdcustomers">Number: 500</p>
                </div>
            </div>
            <div class="mdcface face2">
                <h2>Customers</h2>
            </div>
        </div>
        <div class="dashboardcard">
            <div class="mdcface face1">
                <div class="mdccontent">
                    <span class="stars"></span>
                    <h2 class="crdincome">Income</h2>
                    <p class="crdincome">Total Income : Rs. 340,000</p>
                </div>
            </div>
            <div class="mdcface face2">
                <h2>Income</h2>
            </div>
        </div>
    </div>

    <br /><br /><br />
    <div class="mdtcbody">
        <div class="mdtccontainer">
            <ul class="mdtccards">
                <li class="mdtccard cards__item">
                    <div class="mdtccard__frame">
                        <div class="mdtccard__picture">
                            <img src="https://image.flaticon.com/icons/png/128/701/701980.png" alt="" width="120">
                        </div>
                        <h2 class="mdtccard__title">Trending Items</h2>
                    </div>
                    <div class="mdtccard__overlay"></div>
                    <div class="mdtccard__content">
                        <h2>Trending Food Items</h2>
                        <p>
                            <div class="mdtable">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Rank</th>
                                            <th>Item ID</th>
                                            <th>Name</th>
                                            <th>Number of Orders</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>#5552397</td>
                                            <td>
                                                Spring Rolls
                                            </td>

                                            <td>340</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>#5552388</td>
                                            <td>
                                                Tofu with Rice
                                            </td>
                                            <td>332</td>


                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>#5552375</td>
                                            <td>
                                                Dim Sums
                                            </td>
                                            <td>324</td>

                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </li>
                <li class="mdtccard cards__item">
                    <div class="mdtccard__frame">
                        <div class="mdtccard__picture">
                            <img src="https://image.flaticon.com/icons/png/128/3208/3208028.png" alt="" width="120">
                        </div>
                        <h2 class="mdtccard__title">Recent Orders</h2>
                    </div>
                    <div class="mdtccard__overlay"></div>
                    <div class="mdtccard__content">
                        <h2>Recent Order Details</h2>
                        <p>
                            <div class="mdtable">
                                <table>
                                    <thead>
                                    <th>Order ID</th>
                                    <th>Date</th>
                                    <th>Customer name</th>
                                    <th>Amount</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#5552397</td>
                                            <td>
                                                2021/07/06
                                                12:42 PM
                                            </td>

                                            <td>Mr. A.K. Perera</td>
                                            <td>Rs. 1200.00</td>
                                        </tr>
                                        <tr>
                                            <td>#5552388</td>
                                            <td>
                                                2021/07/06
                                                12:30 PM
                                            </td>
                                            <td>Mr. J.R. Fernando</td>
                                            <td>Rs. 3100.00</td>

                                        </tr>
                                        <tr>
                                            <td>#5552375</td>
                                            <td>
                                                2021/07/06
                                                12:15 PM
                                            </td>
                                            <td>Mr. C.K. Andrew</td>
                                            <td>Rs. 2200.00</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
