<div class="mrpage">
  <div class="page__demo">
    <div class="main-container page__container">
      <table class="table">
        <thead class="table__thead">
          <tr class="table__head">
            
          </tr>
        </thead>
        <tbody class="table__tbody">
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
            <tr class="table__tr">
                <td class="w-25">
                    <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>
                    <ul>
                        <li class="cnum">#C01234 </li>
                        <li class="cname">James Sitepu </li>
                        <li>26/04/2020, 12:42 AM </li>
                    </ul>
                </td>
                <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                <td class="rate">4.5</td>
                <td>3.417</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>