<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
@section scripts
{
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Customer Reviews</h1>
</div>
<div class="mrpage">
    <div class="page__demo">
        
        <div class="main-container page__container">
            
            <table class="table">
                <thead class="table__thead">
                    <tr class="table__head">
                    </tr>
                </thead>
                <tbody class="table__tbody">
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>

                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar2.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar4" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                    <tr class="table__tr">
                        <td class="w-25">
                            <img src="~/lib/images/avatar.png" class="img-fluid img-thumbnail" alt="Sheep">
                        </td>
                        <td>
                            <ul>
                                <li class="cnum">#C01234 </li>
                                <li class="cname">James Sitepu </li>
                                <li>26/04/2020, 12:42 AM </li>
                            </ul>
                        </td>
                        <td><p>We recently had dinner with friends at David CC and we all walked away with a great experience. Good food, pleasant environment, personal attention through all the evening. Thanks to the team and we will be back!</p></td>
                        <td class="rate">4.5</td>
                        <td>
                            <button class="revupbutton" onclick="revup()">Publish</button>

                        </td>
                        <td>
                            <button class="revdelbutton" onclick="revdel()">Delete</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>